

  </body>
    <script src="/javascript/stellar/jquery.stellar.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="javascript/map.js"></script> 
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="/javascript/javascript.js"></script>
</html>