<!DOCTYPE html>
<html>
	<head>
		<title>Project 2</title>
		<link rel="stylesheet" href="/out/semantic.css" type="text/css">
		<link rel="stylesheet" type="text/css" href="/css/style.css">

		<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
		<script src="/javascript/javascript.js"></script>
		<script src="/out/semantic.js"></script>
	
	</head>

	<body>

		<div class="ui inverted menu">
			<h3 class="header item"> Our Project!</h3>
			<a href="/state/search" class="item">Search for Data</a>
			<a href="/userform/new" class="item">Take the Survey</a>
			<span class="floated right item"><a href="/">Home</a></span>
		</div>

