<% include ./partials/header %>


<div id="wrapper" data-stellar-background-ratio="0.5">
  <div class="ui raised very padded text container inverted segment" id="opacity">
    <h1 class="ui header">Form Submitted</h1>
    <br>

 
    </div>
</div>

<% include ./partials/footer %>