<% include partials/header %>


<p> This is where we put HTML</p>

<a href="/userData"> SOME INFO GOES HERE</a>
<br>

<img id="imageTest" src="http://stunningplaces.net/wp-content/uploads/2014/04/Mabul-Island-is-paradise-on-earth-for-divers.-Photo-by-Diving-in-Sipidan.jpg">
<br>

<% include partials/footer %>