<% include partials/header %>


<video class="video" autoplay="autoplay" loop="loop" muted="" width="300" height="150">
  <source src="css/vid/background.mp4" type="video/mp4"/>
</video>

<div class="content">

	<h1 class="title">Mental Health in Technology</h1>
	<h1 class="title">Survey</h1>

</div>

<div class="blurb">
	
	<h3 class="blurb-text">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu nulla posuere, porttitor ligula vitae, lobortis dui. Praesent vel ex magna. Aliquam erat volutpat. Aenean sit amet dolor consectetur, sagittis ligula in, volutpat tellus. Nullam volutpat tempor consequat. Nunc at consequat nunc. Sed viverra volutpat felis ut aliquet.
	</h3>

</div>

<div class="content_btn">

	<a href="/state/"><button id="btn" class="ui inverted button">Get Started</button></a>

</div>



<% include partials/footer %>