<% include partials/header %>

<video class="video" autoplay="autoplay" loop="loop" muted="" width="300" height="150">
  <source src="css/vid/background.mp4" type="video/mp4"/>
</video>

<div class="homepage">
	<div class="homepage-content">

		<div class="content">
			<h1 class="title">Mental Health in Technology Survey</h1>
		</div>

		<div class="blurb">
			<div class="blurb-text">The purpose of this survey is to measure the prevalence and attitudes of mental health disorders within the field of Technology. With our interactive application, you can browse through the current data by state as well as contribute to the survey database.
			</div>
		</div>

		<div class="content_btn">
			<a href="/state/" id="btn" class="ui inverted button">See the Data</a>
			<a href="/userform/new/" id="btn" class="ui inverted button">Take the Survey</a>
		</div>

	</div>
</div>

<% include partials/footer %>