<% include partials/header %>

    <h1 class="ui inverted header" id="custom"> <%= stateName %> </h1>

    <h3 class="center">There's no data for this state! Why don't you <a href="/userform/new">take the survey</a>?</h3>

<% include partials/footer %>