<% include partials/header %>

<h1 class="US">Select A State!</h1>

<div id="tooltip"></div><!-- div to hold tooltip. -->

<div id="map">

	<svg width="960" height="600" id="statesvg"></svg>

</div> <!-- svg to hold the map. -->





<% include partials/footer %>