<% include partials/header %>

<h1>This is userDATA PAGE </h1>

<% userData.forEach(function(userData) { %>
  <div>
    <h4> <%= userData.name%> </h4>
    <img src="<%=userData.image%>">
  </div>

<%});%>

<% include partials/footer %>