/* Ryan */

html,
body,
div,
h1,
p,
a,
video {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

.content {
  position: relative;
  z-index: 2;
}

.video {
  position: fixed;
  top: 50%; left: 50%;
  z-index: 1;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
}

.content {
  position: relative;
  top: 25%;
  z-index: 2;
  margin: 0 auto;
  max-width: 720px;
  text-align: center;
}

.content_btn {
  position: relative;
  top: 35%;
  z-index: 2;
  margin: 0 auto;
  max-width: 200px;
  padding: 20px;
  color: white;
  text-align: center;
  border: solid 4px white;
}

.btn{
	padding: 20px;
	color: white;
	text-decoration: none;
}

/* Andrea */
body{ 
  background-color: black
 }


.hide {
  display: none;
}

.show {
  display: block;
}

#wrapper {
  background-image: url("https://static1.squarespace.com/static/53974e3ae4b0039937edb698/t/539b5f26e4b0a0b8fe855746/1402691369157/macro+background.png?format=1500w");
  background-attachment: fixed;
  padding: 20px;
}

#opacity {
  background-color: rgba(100,100,100, .4)
}


/*#successNote {
  background-color: blue;
}*/


/* Jay */


/* Cherish */